  <h1 align="center">Promociones</h1>
  <br>
  <div class="row">
    <div class="col-1">
    </div>
    <div class="col-10">
      <img src="https://blog.cool-tabs.com/es/wp-content/uploads/2017/09/cine-fb.jpg" width="400" height="250" alt="Promoción">
      <img src="https://cinemultiplex.co/sites/default/files/styles/promociones_cuadrada/public/600x600.png?itok=oJ2FgrvD" width="260" height="250">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTlJF4I7R6gIpSjL_khs9OPeGNCrzGuIJeif3Ql6JNA3KxFVG7w&usqp=CAU" width="250" height="250">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcR5tldbxZH71ar5NiPG413Yi7nFuWIB7wTjcpN7XgPXBLoZUxgH&usqp=CAU" width="300" height="250">
      <footer>

      </footer>
    </div>
  </div>





